.filter-group {
    overflow: hidden;
    transition: all linear .5s;
}

.filter-swiper {
    padding: 32px 0px;

    .swiper-slide { 
        cursor: pointer;
        width: fit-content;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 13px;
        border-radius: 20px;
        color: var(--text);
        background-color: var(--slate);

        i {
            font-size: 16px;
        }

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
        }

        &.active {
            color: var(--white);
            background-color: var(--primary);
        }
    }
}

.filter-options {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: center;
    column-gap: 24px;
    row-gap: 24px;

    @include mobile-breakpoint {
        row-gap: 18px;
    }

    div {
        &:nth-child(1) {
            grid-column: 1/5;

            @include desktop-breakpoint {
                grid-column: 1/7;
            }

            @include tablet-breakpoint {
                grid-column: 1/13;
            }
        }

        &:nth-child(2) {
            grid-column: 5/8;

            @include desktop-breakpoint {
                grid-column: 7/13;
            }

            @include tablet-breakpoint {
                grid-column: 1/13;
            }
        }

        &:nth-child(3) {
            grid-column: 8/10;

            @include desktop-breakpoint {
                grid-column: 1/5;
            }

            @include mobile-breakpoint {
                grid-column: 1/13;
            }
        }

        &:nth-child(4) {
            grid-column: 10/12;

            @include desktop-breakpoint {
                grid-column: 5/10;
            }

            @include mobile-breakpoint {
                grid-column: 1/13;
            }
        }

        &:nth-child(5) {
            grid-column: 12/13;

            @include desktop-breakpoint {
                grid-column: 10/13;
            }

            @include mobile-breakpoint {
                grid-column: 1/13;
            }
        }
    }
}

.filter-search {
    width: 100%;
    height: 48px;
    border-radius: 25px;
    background-color: var(--white);
    border: 1px solid var(--border-gray);
    display: flex;
    align-items: center;
    padding: 0px 16px;
    gap: 12px;
    @include transition-linear;

    &:focus-within {
        border-color: var(--primary);
    }

    input {
        width: 100%;
        height: 100%;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: var(--placeholder);
        }
    }

    button {
        flex-shrink: 0;
        font-size: 20px;
        color: var(--primary);
    }
}

.filter-select {
    width: 100%;
    height: 40px;
    position: relative;
    isolation: isolate;

    i {
        position: absolute;
        cursor: pointer;
        top: 16px;
        right: 12px;
        font-size: 12px;
        z-index: 1;
        color: var(--primary);
    }

    select {
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        border-radius: 20px;
        padding: 0px 36px 0px 12px;
        cursor: pointer;
        appearance: none;
        text-transform: capitalize;
        accent-color: var(--primary);
        background-color: var(--slate);

    }
}

.filter-button {
    width: 100%;

    button {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        border-radius: 20px;
        cursor: pointer;
        text-transform: capitalize;
        @include flex(flex, center, center);
        gap: 6px;
        color: var(--red);
        background-color: #FFEAEA;

        i {
            display: none;

            @include desktop-breakpoint {
                display: block;
            }
        }
    }
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px 24px;
    gap: 15px;

    h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
    }

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        cursor: pointer;
        @include font(14px, 500);
        gap: 8px;
        padding: 8px 13px;
        border-radius: 20px;
        color: var(--text);
        background-color: var(--slate);
        @include transition-linear;

        &.active {
            color: var(--red);
            background-color: #FFEAEA;
        }
    }
}